
<footer class="bg-dark">
  <div class="footer">
  <div class="row">
   
      <a rel="nofollow" href="https://facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://rss.com"><i class="fa fa-rss"></i></a>

   
  </div>
  
  <div class="row">
  <ul>
  <li><a href="/contact">Contact us</a></li>
  <li><a href="/recipe/new">Submit Recipe</a></li>
  <li><a href="#">Our Services</a></li>
  <li><a href="#">Privacy Policy</a></li>
  <li><a href="#">Terms & Conditions</a></li>
  </ul>
  </div>
  
  <div class="row">
   Copyright &copy; 2022 Fab Recipes - All rights reserved 
  </div>
  </div>
  </footer>